.features{

    display: flex;
    align-items:center;
    justify-content: center;
    gap: 50px;
    position: relative;
    bottom: 40px;
    
}
.features-img{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 600px;
}
.features-img img{
    width: auto;
    height: 100%;
    max-width: 70%;
}
.features:nth-child(odd){
    flex-direction: row-reverse;
}
.Section2{
    margin-top: 15vw;
}
.feature-info{
    width: 50%;
}
.feature-info h2{
    font-size: 3rem;
   padding-bottom: 24px;
  
}
.feature-info p{
    font-size: 1.5rem;
    padding-bottom: 5%;

}
@media screen and (max-width:750px) {
    .features{
        flex-direction: column-reverse;
        gap: 20px;
    }
    .features:nth-child(odd){
        flex-direction: column-reverse;
    }
    .feature-info{
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        position: relative;
        top: 20px;
    }
    .feature-info h2{
        font-size: 2rem;
       padding-bottom: 2%;
      
    }
    .feature-info p{
        font-size: 1rem;
        width: 90%;
        padding-bottom: 5%;
    
    }

}