.section3{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.section3 h2{
    font-family: Lexend; /* Heading */
  font-size: 52px; 
  font-weight: 700; 
  line-height: 74px; 
  color: #323743FF; /* neutral-700 */
}
.home-features{
    display: flex;
    flex-direction: column;
    padding: 1%;
    gap: 30px;

}
.feature-box1{
    display: flex;
    justify-content: space-around;

}
.feature-box1 div img{
    width: 162px; 
    height: 180px; 
    border-radius: 0px;
}
.feature-box2{
    display: flex;
   

}

.box h3{
    font-family: Lexend;
    font-size: 32px; 
    font-weight: 700; 
    line-height: 48px; 
    color: #323743FF;
}
.box:nth-child(odd) p{
 

    font-weight: 400; 
    line-height: 30px; 
    color: #323743FF; 
}
.box:nth-child(even) p{
 
    font-weight: 400; 
    line-height: 30px; 
    color: #171A1FFF; 
    
}
.box1{
    
    width: 30%;
    background: #FFC9E2FF;
    border-radius: 20px; 
    overflow: hidden;

}
.box2{
    width: 65%;
    background: #D3C1FAFF;
    border-radius: 20px; 
    overflow: hidden;
    
}
.box3{
    width: 65%;
    background: #FDCFC4FF; /* tertiary3-200 */
  border-radius: 20px; 
  overflow: hidden;
    
}
.box4{
    width: 30%;
    background: #F0F9FFFF; /* secondary-100 */
    border-radius: 20px; 
    overflow: hidden;
}
.box1 img{
    position: relative;
    left: 60%;
    bottom: 20%;
}
.box4 img{
    position: relative;
    left: 60%;
   bottom: 20%;
}
.box2 img{
    left: 80%;
    position: relative;
   bottom: 20%;
}
.box3 img{
    left: 80%;
    bottom: 20%;
    position: relative;

}
.box{
    padding: 1%;
    font-size: 20px;
    height: 300px;
}
.box>a{
    position: relative;

}
@media  screen and (max-width:750px) {
    .feature-box1{
        flex-direction: column;
        gap: 20px;
    }
    .feature-box2{
        flex-direction: column;
        gap: 20px;
    }
    .box{
        width: 100%;
        padding: 5px;
    }
    .box p{
        font-size: 14px;
    }
    .box1 img{
        left: 70%;
    }
    .box3 img{
        top: 0px;
    }
}