.rooms{
    position: relative;
    cursor: pointer;
    top: 5px;
    height: calc(100vh - 75px);
   margin-bottom: 100px;
  }
  .room-tab{
    background:transparent;
    color: black;
    border: none;
    display: inline-block;
    cursor: pointer;
    font-size: 1.2rem;
  }
  .room-tabs{
    position: relative;
    top: 12px;
    display: flex;
    justify-content: space-around;
    gap: 20px;
  }
  .underline{
    height: 3.5px;
    border-radius: 2px;
    background-color: #6D31EDFF;
    position: relative;
    top: 12px;
    width: 7%;
    left: 12.6%;
    transition: left 0.5s;
  
  }
  .horiline{
    position: relative;
    top: 28px;
    height: 2px;
    width: 100%;
    z-index: 1;
    background-color: rgba(63, 63, 63, 0.68);
  }
  .allrooms{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    position: relative;
    top: 40px;
    gap: 5%;
    width: 100%;
    height: 100%;
    padding-left: 150px;
    padding-right: 150px;
    overflow-y: scroll;
    box-sizing: border-box;
  }
  .roomcontainer{
    position: relative;
    display: flex;
    flex-direction: column;
    top: 64px;
    width: 20%;
    height: 300px;
    margin-bottom: 40px;
   
  }
  .roomimage{
   
    border-radius: 4px;
    background-color: transparent;
  }
  .roomimage img{
    height: auto;
    width: 100%;
  }
  .roomdisc{
    position: relative;
    top: 16px;
    height: 50%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    
  }
.members{
    font-weight: bold;
}
  .roomdisc p:last-child{
    font-size: 14px;
  }
  .roomdisc h3,p{
    margin: 0;
  }
  .join-button{
   color: blue;
    text-decoration: underline;
    position: relative;
    right: 50px;
  }
  .explore-room-join{
    display: flex;
    justify-content: space-between;

  }
  @media screen and (max-width:750px) {
    .room-tab{
      font-size: 0.8rem;
    }
    .underline{
      left: 4%;
      width: 21%;
    }
    .allrooms{
      padding-left: 0%;
      padding-right: 0%;
      gap: 5%;
      top: 40px;
    }
    .roomcontainer{
      top: 20px;
      height: 150px;
      width: 40%;
    }
    .roomdisc{
      font-size: 0.8em;
    }
    .roomdisc p:last-child{
      font-size: 0.8rem;
    }

    
  }